<h1>Editar Hike</h1>


<div class="card position-absolute top-50 start-50 translate-middle"></div>
<div class="position-absolute top-50 start-50 translate-middle">
    <main class="form-signin">
        <form id="sign-form" action="/hikes/{{data._id}}/edit" method="post">
            <img id="image-login" class="mb-4"
                src="https://o.remove.bg/downloads/d153fc92-eaec-4dcd-9c29-e1481824bb5e/hiking-logo-design-removebg-preview.png"
                alt="" width="170" height="120">
            <h1 id="create-title" class="h3 mb-3 fw-normal">Editar tu Hike</h1>
            
            
            <div class="form-floating">
                <label class="label-form" for="description">Descripción del hike</label>
              <textarea type="text" name="description">
                {{data.description}}
              </textarea>
            </div>

            <div class="form-floating">
                <label class="label-form" for="time">Horario</label>
              <textarea name="time" type="text">
                {{data.time}}
              </textarea>
            </div>

            <div class="form-floating">
                <label class="label-form" for="location">Lugar</label>
              <textarea name="location" type="text">
                {{data.location}}
              </textarea>
            </div>
            
            <div class="form-floating">
                <label class="label-form" for="imageUrl">URL de tu imagen</label>
              <textarea name="imageUrl" type="text">
                {{data.imageUrl}}
              </textarea>
            </div>

            <button id="button-login" class="w-100 btn btn-lg btn-danger" type="submit">Editar</button>
            <p class="mt-5 mb-3 text-muted">© 2021</p>

            {{#if msg}}
            <p class="text-red-400"> {{msg}} </p>
            {{/if}}
        </form>
    </main>
</div>