<div class="col col-rows-1 col-rows-md-3 col-rows-lg-1" style="margin-top: 4%;">
  <h1 class="text-center">Hikes disponibles</h1>
  {{#each allHikes}}
  <div class="col">

    <div class="card border-0" style="margin-top: 4%;">
      <img src="{{this.imageUrl}}" class="card-img-top" alt="...">
      <div class="card-body" style="background-color: #00538C;">
        <h5 id="location-hike-card" class="card-title text-warning">{{this.location}}</h5>
        <p id="description-hike-card" class="card-text text-light">{{this.description}}</p>
        <p id="time-hike-card" class="card-text text-light">{{this.time}}</p>
      </div>
      <div class="d-flex justify-content-center" style="background-color: #00538C;">
        <button class="w-30 btn btn-lg btn-warning justify-content-center" style="margin-bottom: 5%;">
         <a href="/hikes/{{this._id}}" style="text-decoration: none;">Ver detalles</a></button>
      </div>
    </div>
    {{/each}}
  </div>
</div>





