<div class="col col-rows-1 col-rows-md-3 col-rows-lg-1" style="margin-top: 4%;">
  <h1 class="text-center">Hikes disponibles</h1>
  {{#each allHikes}}
  <div class="col">

    <div class="card" style="margin-top: 4%;">
      <img src="{{this.imageUrl}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 id="location-hike-card" class="card-title">{{this.location}}</h5>
        <p id="description-hike-card" class="card-text">{{this.description}}</p>
        <p id="time-hike-card" class="card-text">{{this.time}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><a href="/hikes/{{this._id}}" class="card-link">See details</a></small>
      </div>
    </div>
    {{/each}}
  </div>
</div>





