<div class="position-relative"></div>
<div class="position-absolute top-0 start-50 translate-middle-x">
    <h1 id="hikes-available" style="color: black;">Hikes disponibles</h1>
</div>





<div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each allHikes}}
  <div class="col">
    <div class="card">
      <img src="{{this.imageUrl}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 id="location-hike-card" class="card-title">{{this.location}}</h5>
        <p id="description-hike-card" class="card-text">{{this.description}}</p>
        <p id="time-hike-card" class="card-text">{{this.time}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><a href="/hikes/{{this._id}}" class="card-link">See details</a></small>
      </div>
    </div>
    {{/each}}
  </div>




