{{#with data}}
{{#if owner}}
<h1 style="text-align:center;">Este Hike</h1>
<div class="card mb-3">
  <img src="{{this.getTheHike.imageUrl}}" class="card-img-top" alt="...">
  <div class="card-body" style="background-color: #00538C;">
    <h5 id="time-location-single" class="card-title text-warning">{{this.getTheHike.location}}</h5>
    <p id="time-description-single" class="card-text text-light">{{this.getTheHike.description}}</p>
    <p id="time-hike-single" class="card-text"><small class="text-light">{{this.getTheHike.time}}</small></p>
  </div>
  <div class="card-footer d-flex flex-row justify-content-around" style="background-color: #00538C;">
    <form method="POST">
      <a href="/hikes/" class="btn btn-secondary"> Regresa </a>
    </form>
    <form method="POST">
      <a href="/hikes/edit/{{this.getTheHike._id}}" class="btn btn-warning"> Editar </a>
    </form>
    <form method="POST" action="/hikes/delete/{{this.getTheHike._id}}">
      <button class="btn btn-danger"> Borrar </button>
    </form>
  </div>

</div>
{{else}}
<h1 style="text-align:center;">Este Hike</h1>
<div class="card mb-3">
  <img src="{{this.imageUrl}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 id="time-location-single" class="card-title">{{this.location}}</h5>
    <p id="time-description-single" class="card-text">{{this.description}}</p>
    <p id="time-hike-single" class="card-text"><small class="text-muted">{{this.time}}</small></p>
  </div>
  <div class="card-footer">
    <form method="POST">
      <a href="/hikes/" class="btn btn-secondary"> Regresar </a>
    </form>
  </div>
  <div class="card-footer">
    <button class="btn btn-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom"
      aria-controls="offcanvasBottom">¡Contáctame!</button>
    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasBottomLabel">Offcanvas bottom</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div style="color: black;" class="offcanvas-body small">
        <p style="text-align: center;">Heyyy here is my contact: <strong>{{this.contact}}</strong>, please contact as
          soon as possible so we can arrange something up, and enjoy a good hike!!</p>
      </div>
    </div>
  </div>
</div>


{{/if}}
{{/with}}


